<form data-bind="submit: saveExam, with: exam" id="add-exam" style="display: none; width: 500px;">
    <fieldset class="fieldset fields-list">

        <legend class="legend">Exam</legend>

        <!-- Standard Fields -->
        <div class="field-block button-height">
            <label for="exam-title" class="label"><b>Title</b></label>
            <input data-bind="value: title" type="text" name="exam-title" id="exam-title" class="input validate[required]" data-tooltip-options='{"position":"right"}' required>
        </div>

        <div class="field-block button-height">
            <label for="exam-place" class="label"><b>Place</b></label>
            <select class="select" style="border-style: solid; border-width: 2px; border-color: black" id="exam-place" data-bind="options: $parent.availablePlaces, value: place"></select>
        </div>

        <div class="field-block button-height">
            <label for="exam-date" class="label">Date</label>
             <span class="input">
                <span class="icon-calendar"></span>
                <input id="exam-date" type="text" class="input-unstyled datepicker" data-bind="value: date" required/>
             </span>
        </div>

        <div class="field-block button-height">
            <label for="exam-type" class="label"><b>Exam Type</b></label>
            <select class="select" id="exam-type"
                    data-bind="options: $parent.examtypes, optionsText: 'tag', optionsValue: 'id', value: typeId"></select>
        </div>

        <div class="field-block button-height">
            <label for="exam-proctor" class="label"><b>Proctor</b></label>
            <input data-bind="value: proctor" type="text" name="exam-proctor" id="exam-proctor"
                   class="input validate[required]" data-tooltip-options='{"position":"right"}'/>
        </div>


        <!-- Extra fields after taken exam -->
        <div class="field-drop button-height black-inputs">

            <div>
                <label for="exam-test" class="label mid-margin-right"><b>Test</b></label>
                <select class="select" id="exam-test"
                        data-bind="options: $parent.tests, optionsText: 'tag', optionsValue: 'id', value: testId"></select>
            </div>
        </div>

        <div class="field-block button-height">
            <button type="button" class="button glossy" onclick="$.modal.current.closeModal();">
                <span class="button-icon red-gradient"><span class="icon-cross-round"></span></span>
                Cancel
            </button>
            <button type="submit" class="button glossy mid-margin-right">
                <span class="button-icon"><span class="icon-tick"></span></span>
                Save
            </button>
        </div>

    </fieldset>
</form>