<form id="add-exam" style="display: none; width: 500px;">
    <fieldset class="fieldset fields-list">

        <legend class="legend">Exam</legend>

        <!-- Standard Fields -->
        <div class="field-block button-height">
            <label for="exam-title" class="label"><b>Title</b></label>
            <input type="text" name="exam-title" id="exam-title" class="input validate[required]" value="" data-tooltip-options='{"position":"right"}'>
        </div>

        <div class="field-block button-height">
            <label for="exam-place" class="label"><b>Place</b></label>
            <select class="select" id="exam-place" 
            data-bind="options: availablePlaces"></select>
        </div>
        <div class="field-block button-height">
             <label for="exam-date" class="label">Date</label>
             <span class="input">
                <span class="icon-calendar"></span>
                <input id="exam-date" type="text" class="input-unstyled datepicker">
             </span>
        </div>

        <div class="field-block button-height">
            <label for="exam-type" class="label"><b>Exam Type</b></label>
            <input type="text" name="exam-type" id="exam-type" class="input validate[required]" value="" data-tooltip-options='{"position":"right"}'>
        </div>

        <div class="field-block button-height">
            <label for="exam-proctor" class="label"><b>Proctor</b></label>
            <input type="text" name="exam-proctor" id="exam-proctor" class="input validate[required]" value="" data-tooltip-options='{"position":"right"}'>
        </div>


        <!-- Extra fields after taken exam -->
        <div class="field-drop button-height black-inputs">

            <div>
                <label for="exam-test" class="label mid-margin-right"><b>Test</b></label>
                <input type="text" name="exam-test" id="exam-test" class="input mid-margin-bottom" value="">
            </div>
	    </div>

        <div class="field-block button-height">
            <button type="buttton" class="button glossy" onclick="$.modal.current.closeModal();">
                <span class="button-icon red-gradient"><span class="icon-cross-round"></span></span>
                Cancel
            </button>
            <button type="buttton" class="button glossy mid-margin-right" 
      	   	data-bind="click: function() {$.modal.current.closeModal();
           	newExam($('#exam-title').val(), $('#exam-place option:selected').val(), $('#exam-date').val(),$('#exam-type').val(),$('#exam-test').val(),$('#exam-proctor').val());}">
                     <span class="button-icon"><span class="icon-tick"></span></span>
                Save
            </button>
        </div>

    </fieldset>
</form>