<section id="menu" role="complementary">

    <!-- This wrapper is used by several responsive layouts -->
    <div id="menu-content">

        <header>
            {{user.role}}
        </header>

        <div id="profile">
            <img src="/img/user.png" width="64" height="64" alt="User name" class="user-icon">
            Hello
            <span class="name"><b>{{user.full_name}}</b></span>
        </div>

        <!-- By default, this section is made for 4 icons, see the doc to learn how to change this, in "basic markup explained" -->
        <ul id="access" class="children-tooltip">
            <li class="disabled"><span class="icon-inbox"></span></li>
            <li class="disabled"><span class="icon-user"></span></li>
            <li class="disabled"><span class="icon-gear"></span></li>
            <li><a href="/logout" title="Logout"><span class="icon-extract"></span></a></li>
        </ul>

        <!-- Navigation menu goes here -->
        <section class="navigable">

                <ul class="big-menu">
                    {{#each menu}}
                        {{#ifContains roles ../user.role}}
                        <li>
                            <a href="{{url}}" {{#ifEquals ../name ../../current}} class="current navigable-current" {{/ifEquals}}>{{title}}</a>
                        </li>
                        {{/ifContains}}
                    {{/each}}
                </ul>
       </section>

        <ul class="unstyled-list">
            <li class="title-menu">Upcoming Exams</li>
            <li>
                <ul class="calendar-menu" data-bind="foreach: nextExams">
                    <li>
                        <a href="" title="Select Exam" data-bind="click: function() {selectExam($data)}">
                            <time data-bind="attr: {datetime: date}">
                                <b data-bind="text: day"></b>
                                <span data-bind="text: month"></span>
                            </time>
                            <span class="green" data-bind="text: title"></span><br>
                            <span data-bind="text: place"></span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>

    </div>
    <!-- End content wrapper -->

    <!-- This is optional -->
    <footer id="menu-footer">

        <!-- Any content for the footer - PLACE HERE-->
    </footer>

</section>
