﻿﻿﻿{{#contentFor "pageHTML"}}
<html class="no-js linen" lang="en">
{{/contentFor}}

{{#contentFor "pageStyles"}}
<link rel="stylesheet" href="/css/styles/form.css?v=1">
<link rel="stylesheet" href="/css/styles/switches.css?v=1">

<!-- Login pages styles -->
<link rel="stylesheet" media="screen" href="/css/login.css?v=1">
{{/contentFor}}

{{#contentFor "pageShortcuts"}}
{{/contentFor}}

{{#contentFor "pageMenu"}}
{{/contentFor}}

{{#contentFor "pageScripts"}}
<!-- Scripts -->
<script src="/js/libs/jquery-1.8.2.min.js"></script>
<script src="/js/libs/setup.js"></script>

<!-- Template functions -->
<script src="/js/libs/developr.input.js"></script>
<script src="/js/libs/developr.message.js"></script>
<script src="/js/libs/developr.notify.js"></script>
<script src="/js/libs/developr.tooltip.js"></script>
{{/contentFor}}

{{#contentFor "pageScript"}}
<script>

/*
 * How do I hook my login script to this?
 * --------------------------------------
 *
 * This script is meant to be non-obtrusive: if the user has disabled javascript or if an error occurs, the login form
 * works fine without ajax.
 *
 * The only part you need to edit is the login script between the EDIT SECTION tags, which does inputs validation
 * and send data to server. For instance, you may keep the validation and add an AJAX call to the server with the
 * credentials, then redirect to the dashboard or display an error depending on server return.
 *
 * Or if you don't trust AJAX calls, just remove the event.preventDefault() part and let the form be submitted.
 */

$(document).ready(function () {
    /*
     * JS login effect
     * This script will enable effects for the login page
     */
    // Elements
    var doc = $('html').addClass('js-login'),
            container = $('#container'),
            formLogin = $('#form-login'),

    // If layout is centered
            centered;

    /******* EDIT THIS SECTION *******/

    /*
     * AJAX login
     * This function will handle the login process through AJAX
     */
    formLogin.submit(function (event) {

        // Remove previous messages
        formLogin.clearMessages();

        // Values
        var login = $.trim($('#login').val()),
                pass = $.trim($('#pass').val());

        // Check inputs
        if (login.length === 0) {
            // Display message
            displayError('Please fill in your login');
            return false;
        }
        else if (pass.length === 0) {
            // Remove empty login message if displayed
            formLogin.clearMessages('Please fill in your login');

            // Display message
            displayError('Please fill in your password');
            return false;
        }
        else {
            // Remove previous messages
            formLogin.clearMessages();

            // Show progress
            displayLoading('Checking credentials...');
            event.preventDefault();

            // Stop normal behavior
            event.preventDefault();

            // This is where you may do your AJAX call, for instance:
            $.post('/login', {
                        login:login,
                        pass:pass
                    },
                    function (data, textStatus, jqXHR) {
                        console.log("data is ", data);
                        console.log("textStatus is ", textStatus);
                        console.log("jqXHR is ", jqXHR);
                        if (data) {
                            document.location.href = '/';
                        }
                        else {
                            formLogin.clearMessages();
                            displayError('Invalid user/password, please try again');
                        }
                    });
        }
    });

    /******* END OF EDIT SECTION *******/

        // Handle resizing (mostly for debugging)
    function handleLoginResize() {
        // Detect mode
        centered = (container.css('position') === 'absolute');

        // Set min-height for mobile layout
        if (!centered) {
            container.css('margin-top', '');
        }
        else {
            if (parseInt(container.css('margin-top'), 10) === 0) {
                centerForm(false);
            }
        }
    };

    // Register and first call
    $(window).bind('normalized-resize', handleLoginResize);
    handleLoginResize();

    /*
     * Center function
     * @param boolean animate whether or not to animate the position change
     * @param string|element|array any jQuery selector, DOM element or set of DOM elements which should be ignored
     * @return void
     */
    function centerForm(animate, ignore) {
        // If layout is centered
        if (centered) {
            var siblings = formLogin.siblings(),
                    finalSize = formLogin.outerHeight();

            // Ignored elements
            if (ignore) {
                siblings = siblings.not(ignore);
            }

            // Get other elements height
            siblings.each(function (i) {
                finalSize += $(this).outerHeight(true);
            });

            // Setup
            container[animate ? 'animate' : 'css']({ marginTop:-Math.round(finalSize / 2) + 'px' });
        }
    };

    // Initial vertical adjust
    centerForm(false);

    /**
     * Function to display error messages
     * @param string message the error to display
     */
    function displayError(message) {
        // Show message
        var message = formLogin.message(message, {
            append:false,
            arrow:'bottom',
            classes:['red-gradient'],
            animate:false                    // We'll do animation later, we need to know the message height first
        });

        // Vertical centering (where we need the message height)
        centerForm(true, 'fast');

        // Watch for closing and show with effect
        message.bind('endfade',function (event) {
            // This will be called once the message has faded away and is removed
            centerForm(true, message.get(0));

        }).hide().slideDown('fast');
    }

    /**
     * Function to display loading messages
     * @param string message the message to display
     */
    function displayLoading(message) {
        // Show message
        var message = formLogin.message('<strong>' + message + '</strong>', {
            append:false,
            arrow:'bottom',
            classes:['blue-gradient', 'align-center'],
            stripes:true,
            darkStripes:false,
            closable:false,
            animate:false                    // We'll do animation later, we need to know the message height first
        });

        // Vertical centering (where we need the message height)
        centerForm(true, 'fast');

        // Watch for closing and show with effect
        message.bind('endfade',function (event) {
            // This will be called once the message has faded away and is removed
            centerForm(true, message.get(0));

        }).hide().slideDown('fast');
    }
});

</script>
{{/contentFor}}

<body>

<div id="container">

    <hgroup id="login-title" class="large-margin-bottom">
        <h1 class="login-title-image">ExaMS</h1>
        <h5>&copy; SEETB</h5>
    </hgroup>

    <form id="form-login">
        <ul class="inputs black-input large">
            <!-- The autocomplete="off" attributes is the only way to prevent webkit browsers from filling the inputs with yellow -->
            <li><span class="icon-user mid-margin-right"></span><input type="text" name="login" id="login" value=""
                                                                       class="input-unstyled" placeholder="Login"
                                                                       autocomplete="off"></li>
            <li><span class="icon-lock mid-margin-right"></span><input type="password" name="pass" id="pass" value=""
                                                                       class="input-unstyled" placeholder="Password"
                                                                       autocomplete="off"></li>
        </ul>

        <button type="submit" class="button glossy full-width huge">Login</button>
    </form>

</div>

